<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mo.bandit_v1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".CreateBandActivity"
            android:label="@string/title_activity_create_band" >
        </activity>
        <activity
            android:name=".EditProfilActivity"
            android:label="@string/title_activity_edit_profil" >
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name=".EditBandActivity"
            android:label="@string/title_activity_edit_band" >
        </activity>
    </application>

</manifest>
